<% title(_("Discovered host: %s") % @host.to_label) %>

<%= discovered_hosts_title_actions(@host) %>

<div class="row">
  <% @general.each do |keys, val| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" ><strong> <%= keys %></strong> </div>
          <div class="panel-body">
            <ul class="list-group">
              <% @facts.sort.select{|key, value| val.any?{|v| (key.include?(v) &&  !key.include?("bios") && !key.include?("ipmi")) || (key.eql? "ipaddress")}}.each do |fact| %>
                <li class="list-group-item"> <strong> <%= fact[0] %>: </strong>  <%= breaking_wrap_wrap(fact[1],  50)%></li>
                <% @facts.delete(fact[0]) %>
              <% end %>
            </ul>
          </div>
         </div>
     </div>
  <% end -%>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="col-md-6">
      <% @highlights.each do |keys, val| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= keys.to_s + "panel" %>" aria-expanded="true" onclick="$(this).find(':first-child').toggleClass('glyphicon glyphicon-minus-sign glyphicon glyphicon-plus-sign')">
                <span class="glyphicon glyphicon<%= (keys.to_s.include?("Storage")? "-minus-sign":"-plus-sign")%>" aria-hidden="true"></span>
                <%= keys %>
              </a>
            </h4>
          </div>
          <div id="<%= keys.to_s + "panel" %>" class="panel-collapse collapse <%= "in" if keys.to_s.include?"Storage"%>" role="tabpanel">
            <div class="panel-body">
              <%@facts.sort_by { |k, v| k.downcase } %>
              <% @facts.sort.select{|key, value| keys.to_s.include?("Miscellaneous") || val.any?{|v| key.include? v}}.each do |fact| %>
                <li class="list-group-item" >
                  <p data-toggle="tooltip" data-placement="top" title="<%= fact[1].length > 80 ? fact[1] : '' %>">
                    <strong> <%= fact[0] %> : </strong>  <%= truncate(breaking_wrap_wrap(fact[1], 50), :length => 80)%>
                  </p>
                </li>
                <% @facts.delete(fact[0]) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
